<div>
    <a class="btn btn-primary" asp-controller="ManageUser" asp-action="Index">프로필</a>
    <div>
    </div>

    <span style="color : red">@User.Identity.Name</span>

    <p>@ViewBag.name</p>


   
</div>